@model Int32
@{
    ViewData["Title"] = "Data Base View Page";
}
<form method="post">
    <div class="text-center">
        <h1 class="display-4">Welcome to Data Base View Page</h1>
        <br />
        <h2>Number of items in database: @Model</h2>
        <button type="submit" asp-action="ShowDataTable">ShowData</button>
    </div>
</form>
