@model Int32
@{
    ViewData["Title"] = "About Us";
}
<form method="post">
    <div class="text-center">
        <h1 class="display-4">About Us Page</h1>
        <h1 class="display-4">Работу выполнили студенты группы 4941104/20701</h1>
        <h1 class="display-4">К. Миронов</h1>
        <h1 class="display-4">А. Каврук</h1>
    </div>
</form>